/******************************************************************
Site Name:
Author:

Stylesheet: Layout Stylesheet
******************************************************************/

*,
*:after,
*:before {
  @include box-size;

}

body{
	overflow-y: scroll;
}

.wrapper {
	@include clearfix;
	max-width: $max-width;
	min-width: $min-width;
	margin: 30px auto;
}

.container {
	@include clearfix;
	width: 100%;
	margin: 10px 0;
}

#container {}

  .header {
    @include grid(3);
    @include break(tablet, 12);
    @include break(mobile, 12);
  }

    #inner-header {}

      .logo-container {}

      #sidebar-header {}

    .nav {}

  #content {
    @include grid(9, $margin:0);
    @include break(tablet, 12);
    @include break(mobile, 12);
  }

    #inner-content {}

      .full {
        @include grid (12);
      }

      #main, .main {}

       .sidebar {}

  .footer {
    @include grid (12);
  }
