/******************************************************************
Site Name:
Author:

Stylesheet: Layout Stylesheet
******************************************************************/
.wrapper {
	@include clearfix;
	max-width: $break-wide;
	//min-width: ($break-mobile - 20px);
	margin-left: auto;
    margin-right: auto;
}

.container {
	@include clearfix;
	width: 100%;
}

#container {}

  .header {
    @include grid(3);
    @include break(tablet, 12);
    @include break(mobile, 12);
  }

    #inner-header {}

      .logo-container {}

      #sidebar-header {}

    .nav {}

  #content {
    @include grid(9, $margin:0);
    @include break(tablet, 12);
    @include break(mobile, 12);
  }

    #inner-content {}

      .full {
        @include grid (12);
      }

      #main, .main {}

       .sidebar {}

  .footer {
    @include grid (12);
  }
