/******************************************************************
Site Name:
Author:

Stylesheet: Layout Stylesheet
******************************************************************/

body{
	overflow-y: scroll;
}

.wrapper {
	@include clearfix;
	max-width: $max-width;
	min-width: $min-width;
	margin: 0 auto;
}

.container {
	@include clearfix;
	width: 100%;
}

#container {}

  .header {
    @include grid(3);
    @include break(tablet, 12);
    @include break(mobile, 12);
  }

    #inner-header {}

      .logo-container {
        @include grid (12);
        @include break(mobile, 3);
      }

      #sidebar-header {
          @include grid(12);
      }

    .top-nav {
        @include grid(8);
        @include break(tablet, 12);
        @include break(mobile, 9);
    }

  #content {
    @include grid(9);
    @include break(tablet, 12);
    @include break(mobile, 12);
  }

    #inner-content {}

        .full {
            @include grid (12);
        }

      #main, .main {}

        .home-content {
            @include grid(5, $push:7);
            @include break(tablet, 12);
            @include break(mobile, 12);
        }

       .sidebar {}

  .footer {
    @include grid (12);
  }
